body{
    background-color: rgb(230, 217, 217);
    background-image: url('../img/DesktopCloudbg.png');
    background-size: cover;
    background-repeat: no-repeat;
}


.app-container{
    background-color: transparent;
    display: flex;
    justify-content: center;
    color: white;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
 
}

.nav-bar{
    width: 100%;
    text-align: center;
    font-size: 20px;
}
.straight-line{
    background-color: red;
    height: 3px;
    width: 60px;
    position: absolute;
    top: 65px;
    left: 706px;
}

.form{
    margin-top: 50px;
    padding: 20px;
    position: absolute;
    left: 20%;
}

.form input{
    margin: 20px;
}

.city-input-value, .country-input-value{
    border: none;
    width: 266px;
    border-radius: 2px;
    font-size: 20px; 
    background: transparent;
    border-bottom: 2px solid #ecd0d0;
    color: white;
    outline: none;
}

.city-input-value:hover, .country-input-value:hover{ 
    background: transparent;
    border-bottom: 2px solid #F63C3C;
    border-radius: 2px;
    
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: brown;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: brown;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: brown;
}

.btn{
    position: absolute;
    top: 130px;
    left: 180px;
    padding: 8px 26px;
    border: none;
    font-size: 22px;
    box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.25),
                0px 16px 48px rgba(231, 178, 178, 0.4),
                0px 16px 48px #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.search-btn{
    position: absolute;
    left: 200px;
    top: 150px;
    width: 244px;
    background-color: white;
    padding: 10px;

    font-size: 22px;
    font-weight: 500;
    box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.25),
                0px 16px 48px rgba(231, 178, 178, 0.4),
                0px 16px 48px #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
    border: none;

    /* padding: 8px 106px; */
}

.search-btn:hover{
    background-color:  #e9dede;
}

.weather-results{
    display: none;
    position: absolute;
    background: rgba(3, 9, 59, 0.3);
    box-shadow: 2px 7px 6px rgba(233, 146, 150, 0.3),
                inset 0px 32px 60px rgba(0, 0, 0, 0.25);
    top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 70%;
    padding: 50px;
    border-radius: 25px;
    opacity: 0;
}

img{
    height: 55px;
}

h3 span{
    margin: 25px;
}

.conditions{
    font-size: 24px;
}

.footer{
    position: absolute;
    top: 500px;
    left: 38%;
}

@media (max-width: 1024px) {
    body{
        background-image: url('../img/MobileCloudbg.png');
        background-repeat: no-repeat;
    }

    .nav-bar{
        margin-left: -100px;
    }

    .straight-line{
        left: 330px;
    }

.form{
        margin-top: 30px;
        padding: 0px;
        left: 30px;
        width: 0px;
    }

.form input{
        margin: 30px;
    }

    .search-btn{
        top: 220px;
        left: 40px;
    }
    
    .weather-results{
        padding: 30px;
        top: 150px;
        left: 450px;
        border-radius: 20px;
    }

    h3 span{
        margin: 12px;
    }

}

@media (max-width: 540px) {
    body{
        background-repeat: repeat;
    }

    .nav-bar{
        margin-left: 0px;
    }
    
.form input{
        margin-left: 100px;
    }

    .search-btn{
        left: 110px;
    }

    .straight-line{
        background-color: red;
        top: 65px;
        left: 200px;
    }

    .weather-results{
        top: 450px;
        left: 150px;
    }

    h3 span{
        margin: 25px;
    }

    .footer{
        top: 800px;
        left: 23%;
    }

    
}

@media (max-width: 500px) {
.form input{
        margin: 30px;
    }

    .search-btn{
        left: 40px;
    }

    .weather-results{
        top: 450px;
        left: 70px;
    }
}


@media (max-width: 280px) {
    .app-container{
        background-size: cover;
    }
    
    .straight-line{
        left: 150px;
    }

    .city-input-value, .country-input-value{
        margin-left: 0px;
        width: 210px;
    }
    .btn{
       font-size: 18px;
       left: -30px;
    }

    .search-btn{
        width: 190px;
        font-size: 18px;
        left: 15px;
    }
    .weather-results{
        left: 20px;
    }
}